rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cada usuário só acessa suas próprias notas
    match /users/{userId}/notes/{noteId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
